body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: auto;
    background-color: rgb(173, 197, 173);
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

  a {
    text-decoration: none;
    color: rgb(85, 85, 85);
  }

button {
    border-radius: 10px;
    padding: auto;
    width: 100px;
    height: 25px;
} 

ul {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 32px;
}

.text {
    max-width: 200px;
}

img {
    max-width: 100px;
    max-height: 100px;
}