body {
    display: flex;
    flex-flow: column wrap;
    flex-grow: 1;
    margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header{
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: rgb(96, 107, 96);
    height: 450px;
    align-items: center;
    justify-content: center;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.footer {
    background-color: rgb(96, 107, 96);
    justify-content: center;
}

.logo {
    border-radius: 300px;
    height: 70px;
}

.links {
    display: flex;
    align-self: flex-end;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    font-weight: 18px;
  }

  a {
    text-decoration: none;
    color: rgb(215, 213, 213);
  }

button {
    border-radius: 10px;
    padding: auto;
    width: 100px;
    height: 25px;
    background-color: rgb(215, 213, 213);
    border-color: whitesmoke;
} 

.info {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 32px;
}

.text {
    max-width: 200px;
}

img {
    max-width: 100px;
    max-height: 100px;
}